.jumbotron {
    padding: top 2rem;
    background-color: rgb(250, 245, 245);
}
p{
    display: inline;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
h2{
    text-align: center;
}
#resume{
    text-align: center;
}
    
section h2{
    padding-top: 20px;
}